---

import Layout from "../../layouts/Layout.astro";
import type { Post } from "../../types/post";

// ダイナミックルーティングは、getStaticPaths必須
export async function getStaticPaths() {
  const res = await fetch("https://jsonplaceholder.typicode.com/posts")
  const posts:Post[] = await res.json()

  return posts.map(post=>{
    return {
      params: {
        id:post.id
      },
      props: { post } // propsも渡せる
    }
  })

}

const {id} = Astro.params
const {post} = Astro.props

---

<Layout>
  <h1>Post個別ページ</h1>
  <ul>
    <li>{post.id}</li>
    <li>{post.title}</li>
    <li>{post.body}</li>
  </ul>
</Layout>