---
// import { CollectionEntry, getCollection } from "astro:content";
// import Layout from "../../layouts/Layout.astro";

// type Props = {
//   blog: CollectionEntry<"blog">
// }

// export async function getStaticPaths(){
//   const  blogs = await getCollection("blog")
  
//   return blogs.map(blog => {
//     return {
//       params: {slug: blog.slug},
//       props: { blog }
//     }
//   })
// }

// const {blog} = Astro.props
// const {Content} = await blog.render() // マークダウンで表示

import { getEntryBySlug } from 'astro:content';
import Layout from "../../layouts/Layout.astro"

const {slug} = Astro.params
// getCollectionは、一括取得
// getEntryBySlugは、指定したslugから1つ取得
const blog = await getEntryBySlug("blog",slug!)

// pathが無ければ404返す
if(!blog) {
  return Astro.redirect("/404")
}

const {Content} = await blog.render()

---

<Layout>
  <h1>{blog.data.title}</h1>
  <div>
    <Content/>
  </div>

</Layout>